@model PMA.Dto.User.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Provide Password and New Password</strong>
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-12">
                            <form class="mb-2" asp-controller="Auth" asp-action="ChangePassword">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 mb-0">
                                        <div class="input-group">
                                            <span class="input-group-addon password-icon">
                                                <i class="fa fa-eye-off"></i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Current Password" asp-for="CurrentPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 mb-0">
                                        <div class="input-group">
                                            <span class="input-group-addon password-icon">
                                                <i class="fa fa-eye-off"></i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="New Password" asp-for="NewPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <p class="text-danger">@ViewBag.Error</p>
                                    </div>
                                    <div class="col-lg-12 col-md-12 pr-2">
                                        <button class="btn btn-success float-right">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script>
        $(function () {
            //$('.password-icon').click(function () {
            //    var input = $(this).next().children[0];
            //    if (input.attr('type') == 'text') {
            //        $(input).attr('type', 'password');
            //        $(this).addClass('fa-eye-off').removeClass('fa-eye');
            //    }
            //    else {
            //        $(input).attr('type', 'text');
            //        $(this).addClass('fa-eye').removeClass('fa-eye-off');
            //    }
            //}
        });
    </script>
}