@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, minimum-scale=1, shrink-to-fit=no" name="viewport" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>PMA - USA</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="~/assets/css/styles/all-themes.css" rel="stylesheet" />
    <link href="~/assets/js/bundles/waitme/waitMe.css" rel="stylesheet" />
    <link href="~/assets/js/bundles/sweetalert/sweetalert2.min.css" rel="stylesheet" />

    @RenderSection("css", false)

    <!--Angular Scripts-->
    @*<script src="~/assets/js/bundles/angular/angular.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script>
        var App = angular.module('PMA', ['ngSanitize'])
        App.directive('convertToNumber', function () {
            return {
                require: 'ngModel',
                link: function (scope, element, attrs, ngModel) {
                    ngModel.$parsers.push(function (val) {
                        return val != null ? parseInt(val, 10) : null;
                    });
                    ngModel.$formatters.push(function (val) {
                        return val != null ? '' + val : null;
                    });
                }
            };
        });
        App.controller("UserInfoCtrl", function ($scope) {

            $scope.getUserInfo = function () {
                JsonCall("Account", "GetCurrentUserInfo");
                $scope.user = list;
            }
            $scope.toggleMenu = function (li) {
                $('.' + li).slideToggle();

            }
            $(function () {
                $('.menu-header').click(function () {
                    $('.' + $(this).data('name')).slideToggle();
                })
            })
            $scope.getProject
            $scope.activateProject = function(projectId, uid) {
                JsonCallParam("Account", "ActivateProject", { id: projectId, userid: uid });
                window.location.reload();
            }
        });
    </script>
    <script src="~/utility/utility.js"></script>
    @RenderSection("angular", false)

    <style type="text/css">
        #containerNoScroll {
            overflow-x: hidden;
            overflow-y: hidden;
            width: 100%;
        }
        .menu-header {
            padding: 0px 0px 0px 0px;
            width: 180px;
            margin: 20px 0 15px 30px;
            font-weight: 600;
            font-size: 15px;
            cursor:pointer;
        }
    </style>
</head>
<body class="light menu-light theme-black" ng-app="PMA">
    <!-- Page Loader -->
    <div class="customMenuBG page-loader-wrapper">
        <div class="loader">
            <div class="m-t--10">
                <h3>PMA - USA</h3>
                @*<img src="~/assets/images/logo.png" alt="Please wait" width="200" height="70" />*@
            </div>
            <p class="text-white">Loading please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                   aria-expanded="false"></a>
                <a href="#" onClick="return false;" class="bars"></a>
                <a class="navbar-brand ml-0" href="~/Conversations">                   
                    <img src="~/assets/images/logo.png" alt="" width="120" height="40" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <div>
                    <ul class="nav navbar-nav pull-left">
                        <li class="dropdown user_profile">
                            <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Requirement <i class="fas fa-caret-down font-14 p-l-5"></i>
                            </a>
                            <ul class="dropdown-menu pullDown">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li>
                                            <a href="~/Account/UpdateProfile">
                                                Requiements
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Auth/ChangePassword">
                                                Management
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user_profile">
                            <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                CiboVilla <i class="fas fa-caret-down font-14 p-l-5"></i>
                            </a>
                            <ul class="dropdown-menu pullDown">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li>
                                            <a href="~/Account/UpdateProfile">
                                                Final Year Project
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Auth/ChangePassword">
                                                CiboVilla
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Auth/ChangePassword">
                                                One40Connect
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="javascript:;" class="fullscreen-btn">
                                <i class="fas fa-expand"></i>
                            </a>
                        </li>
                        <li class="dropdown user_profile">
                            <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="fa fa-user-alt"></i>
                            </a>
                            <ul class="dropdown-menu pullDown">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li>
                                            <a href="~/Account/UpdateProfile">
                                                <i class="material-icons">person</i>Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Auth/ChangePassword">
                                                <i class="fas fa-eye-slash"></i>Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Auth/Logout">
                                                <i class="material-icons">power_settings_new</i>Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onClick="return false;" class="js-right-sidebar" data-close="true">
                                <i class="fas fa-cog"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <div ng-controller="UserInfoCtrl">
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="text-center m-t-20" ng-init="getUserInfo()">
                <h6>{{user.accountName}}</h6>
                <p>{{user.name}}</p>
            </div>
            <div class="menu">

                <ul class="list m-t-10 p-b-100">
                    <li class="menu-header mt-0" data-name="General">
                        General
                        <i class="fas fa-caret-down float-right"></i>
                    </li>
                    <li class="active General">
                        <a href="~/Home">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="General">
                        <a href="~/Projects">
                            <i class="fa fa-tasks"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                    <li class="General">
                        <a href="~/Account/UpdateProfile">
                            <i class="fas fa-user-alt"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="General">
                        <a href="~/Account/Update">
                            <i class="fas fa fa-industry"></i>
                            <span>Company</span>
                        </a>
                    </li>
                    <li class="menu-header" data-name="Requirement">
                        Requirement
                        <i class="fas fa-caret-down float-right"></i>
                    </li>
                    <li class="Requirement">
                        <a href="~/UseCases">
                            <i class="fas fa-file-alt"></i>
                            <span>Use Cases</span>
                        </a>
                    </li>
                    <li class="Requirement">
                        <a href="~/DomainModel">
                            <i class="fas fa-project-diagram"></i>
                            <span>Domain Model</span>
                        </a>
                    </li>
                    <li class="Requirement">
                        <a href="~/Projects/Estimations">
                            <i class="fas fa-calculator"></i>
                            <span>Estimation</span>
                        </a>
                    </li>
                    <li class="Requirement">
                        <a href="~/DomainModel">
                            <i class="fas fa-key"></i>
                            <span>Features</span>
                        </a>
                    </li>
                    <li class="menu-header" data-name="Management">
                        Management
                        <i class="fas fa-caret-down float-right"></i>
                    </li>
                    <li class="Management">
                        <a href="~/DomainModel">
                            <i class="fas fa-boxes"></i>
                            <span>Backlog</span>
                        </a>
                    </li>
                    <li class="Management">
                        <a href="~/DomainModel">
                            <i class="fas fa-stream"></i>
                            <span>Active Sprints</span>
                        </a>
                    </li>
                    <li class="Management">
                        <a href="~/DomainModel">
                            <i class="fas fa-file-invoice"></i>
                            <span>Reports</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <div class="company-info">
                <h3 class="company-name">{{user.accountName}}</h3>
                <p class="active-did">{{user.project}}</p>
            </div>
            <ul class="user-info">
                <li><a href="~/Account/UpdateProfile">{{user.name}}</a></li>
                <li>{{user.role}}</li>
            </ul>
        </aside>
        <!-- #END# Right Sidebar -->
    </div>
    <section class="content">
        <div id="containerNoScroll">
            @RenderBody()
        </div>
    </section>
    <script src="~/assets/js/app.min.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/admin.js"></script>
    <script src="~/assets/js/bundles/waitme/waitMe.js"></script>

    <script src="~/assets/js/bundles/sweetalert/sweetalert2.min.js"></script>

    @RenderSection("scripts", false)

</body>

</html>